* {
	box-sizing: "border-box"	
}

header {
	background-color: white;
	color: black;
	height: 20px;
	width: 100%;
}



.log {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 17px;
	color: #656464;

}


.dates {
	font-family: Helvetica, Arial,sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #003303;
}

#left {
	height: 1px;
	float: left;
	display: block;
	width: 300px;
	min-width: 0;
	margin: 0;
	padding: 0;	

}

#content {
	margin-top: 50px;

	float: left;

	width: 700px;
}
