* {
	box-sizing: "border-box"	
}

header {
	background-color: white;
	color: black;
	height: 20px;
	width: 100%;
}



.content {
	font-family: "Helvetica Neue";
	font-size: 12px;

}


.dates {
	font-family: Helvetica;
	font-size: 9px;
	font-weight: bold;
}

#left {
	height: 1px;
	float: left;
	display: block;
	width: 300px;
	min-width: 0;
	margin: 0;
	padding: 0;	

}

#content {
	margin-top: 50px;

	float: left;

	width: 700px;
}
